extends layout

block content
    h1= title

    form(action="/books/find")
        input(type='text', name="word", placeholder="search for a book in our Library...")
        button(type="submit") Find Book
    p
    a.button(href='/books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        each book in books
            tbody
            tr
                td
                    a(href=`/books/${book.id}`) #{book.title}
                td= book.author
                td= book.genre
                td= book.year
            
    a.button(href=`/books?page=${page > 1 ? page -1 : page = 1 }`) Previous Page
    a.button(href=`/books?page=${page < 4 ? page +1 : page = 4}`) Next Page   
    
         