extends layout

block content
    
    h1= title
    if count === 0
       include ./includes/noResults.pug
    include ./includes/search-form.pug
    if searched
        p
          a.button(href='/') Clear Search
  
    p
    a.button(href='/books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        each book in books
            tbody
            tr
                td
                    a(href=`/books/${book.id}`) #{book.title}
                td= book.author
                td= book.genre
                td= book.year
            
    a.button(href=`/books?page=${page > 0 ? page -1 : page = 0 }&pageSize=${pageSize}`) Previous Page
    a.button(href=`/books?page=${page < 4 ? page +1 : page = 5}&pageSize=${pageSize}`) Next Page   
    
         